<div class="container">
  <h1>ideabox</h1>
    <div class="text_fields">
    <form class="idea_submit_form" action='/' method='POST'>
      <p>
        your idea:
      </p>
      <input type='text' placeholder="title" name='idea[title]'/><br/>
      <textarea name='idea[description]' placeholder="description"></textarea><br/>
      <textarea name='idea[tags]' placeholder="tags"></textarea><br/>
      <input type='submit' value="submit"/>
    </form>
  </div>

  <h3>existing ideas</h3>
  <div class="existing_ideas">

    <ul>
      <% ideas.each do |idea| %>
        <li>
          <%= idea.title %><br/>
          <%= idea.description %><br/>
          <!-- <%= idea.tags %> -->
          <div class="controls">
            <form action='/<%= idea.tags %>/sort' method='POST'>
              <input type='submit' value="<%= idea.tags %>"/>
            </form><br/>
            <form action='/<%= idea.id %>/like' method='POST'>
              <input type='submit' value="+"/>
            </form>
            <a href="/<%= idea.id %>/edit">edit</a>
            <form action="/<%= idea.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="delete"/>
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
